div{
    background-color: rgb(218, 67, 110);
    
}
h1{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 700px;
    color: green;
    margin-top: -10px;
}
img{
    height: auto;
    width: 400px;
    padding-left: 600px;
}
h2{
    color: rgb(18, 129, 220);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
}
p{
    padding-left: 20px;
}